/* .bg-nebula {
    background-image: url("https: //res.cloudinary.com/dyi2sla5u/image/upload/v1693321577/assets/graphics/brtrkoyetfcbzceauqgd.gif");
    background-size: cover;
    background-position: center;
} */