@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ArcadeGamer';
  src: url('./fonts/Arcade-Gamer.otf');
}

@font-face {
  font-family: 'Garet';
  src: url('./fonts/Garet-Regular.ttf');
}

@font-face {
  font-family: 'BrickSans';
  src: url('./fonts/NTBrickSans.ttf');
}